{{diagnostic}}
<div class="container">
  <h1>Welcome to chat application!</h1>
  <form #userForm="ngForm">
    <!-- name -->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" 
        required
        [(ngModel)]="model.name" name="name">

        TODO: Remove this: {{model.name}}
    </div>
    <!-- phone Number -->
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" 
        [(ngModel)]="model.phoneNumber" name="phoneNumber"> 
    </div>
    <!-- Registration Type -->
    <div class="form-group">
      <label for="userType">Registration type</label>
      <select class="form-control" id="userType" 
        required
        [(ngModel)]="model.userType" name="userType">
        <option *ngFor="let type of userType" [value]="type">{{type}}</option>
      </select>
    </div>
    <!-- on Submit -->
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>